html {
  color: #595964;
  background-color: #C39BD3;
  text-align: center;
  margin: 10%
}

body {
  font-family: helvetica;

}


#mensaje{
background-color:azure;
border-color: gray;
border-width: 2px;
border-style: solid;
font-size: 20px;
border-radius: 8px;
height: 400px;
width: 400px;
font-weight: 10;
text-align: center;
}

#desplazamiento{
background-color:azure;
border-color: gray;
border-width: 2px;
border-style: solid;
border-radius:8px;
font-size: 12px;
height: 45px;
width: 110px;
font-family: 'Pacifico',cursive;
font-weight: 30;
text-align: center;}


#mensajeFinal{
  display:none;
  background-color:azure;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  margin: 0 auto;
  font-size: 15px;
  border-radius: 18px;
  height: 70px;
  width: 400px;
  font-family: 'Pacifico', cursive;
  font-weight: 10;
  top: 50px;
  text-align: center;
}


/* button{text-decoration:none;
font-weight: 400; //grosor
font-size: 15px; // tamaño
color:#333333;
background-color:#FFD27D;
border-color: green;
border-width: 1,5px;
border-style: solid;
border-radius:8px;
height: 30px;//ancho
width: 300px;//largo
font-family: 'Pacifico', cursive;
font-weight: 10;
text-align: center;} */


/* button{
    color:crimson;
    background-color:azure;
    border:none;
    font-size: 40px;
    border-radius: 100px;
    height: 70px;
    width: 500px;
    font-family: 'Pacifico', cursive;
    font-weight: 10;
    text-align: center; */

}
